<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Maps with Photos</title>
    <style>
        #map {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>

<div id="map"></div>

<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: {lat: 44.459776495493486, lng: 74.82081899295234}  // Центр карты
        });

        // Получение данных о локациях из JSON API
        fetch('/api/locations')
            .then(response => response.json())
            .then(locations => {
                console.log(locations);  // Выводим locations в консоль

                locations.forEach(function (location) {
                    console.log('Processing location:', location);  // Отладочное сообщение

                    // Доступ к координатам через location.coordinates
                    if (typeof location.coordinates.lat !== 'number' || typeof location.coordinates.lng !== 'number') {
                        console.error(`Invalid coordinates for location: ${location.name}`);
                        return;
                    }

                    const marker = new google.maps.Marker({
                        position: {lat: location.coordinates.lat, lng: location.coordinates.lng},
                        map: map,
                        title: location.name
                    });

                    const photoId = location.photos.find(photo => photo !== null);  // Получение первого не-null ID фотографии
                    const contentString = `
                        <div><b>${location.name}</b><br>
                        ${photoId ? `<img src="/get_image/${photoId}" style="width:200px;height:auto;"><br>` : ''}
                        <p>${location.comments}</p>
                        </div>
                    `;

                    const infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    marker.addListener('click', function () {
                        infowindow.open(map, marker);
                    });
                });
            })
            .catch(error => console.error('Error loading locations data:', error));
    }
</script>

<!-- Google Maps API -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV58EvulUiNHgNMI8bWQd1p8roIRl-Zlc&callback=initMap">
</script>

</body>
</html>
