<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: {lat: 44.459776495493486, lng: 74.82081899295234}
        });

        // Получение данных с сервера
        fetch('/api/locations')
            .then(response => response.json())
            .then(locations => {
                locations.forEach(function(location) {
                    const marker = new google.maps.Marker({
                        position: {lat: location.lat, lng: location.lng},
                        map: map,
                        title: location.name
                    });

                    const contentString = `
                        <div><b>${location.name}</b><br>
                        <img src="/get_image/${location.file_id}" style="width:200px;height:auto;"><br>
                        <p>${location.comments}</p></div>
                    `;

                    const infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });
                });
            });
    }
</script>
